/* GENERAL */

* {
  font-family: 'Montserrat', sans-serif; /* Default font: Montserrat */
}

body, html {
  background-color: #486F73;
}

body {
  display: flex;
  margin: 0px;
  color: #223740;
}

/* SIDEBAR */

aside {
  width: 25%;
  margin: none;
}

header {
  text-align: right;
  margin: 10px 10px 80px 10px;
  background-color: #223740;
  color: #fff1e1;
  padding: 15px;
}

h1 {
  font-size: 3.5em;
  font-family: 'Bebas Neue', sans-serif !important;
  font-weight: 200;
  letter-spacing: 2px;
  
}

h1, 
h2 {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif !important;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav > button {
  border: none;
  margin-bottom: 20px;
  background-color: #223740;
  width: 65%;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
  cursor: pointer;
  font-size: medium;
  letter-spacing: .5px;
  color: #9c8871
}

.active-nav {
  background-color: #fff1e1;
  border: 2px solid #223740;
  border-right: none;
  letter-spacing: 1.2px;
  font-size: large;
}

/* MAIN */

main {
  padding: 10px;
  width: 75%;
  background-color: #fff1e1;
  color: #223740;
}

form {
  display: flex;
}

.item,
.merchant {
  display: flex;
  background-color: #BFAE99;
  margin: 10px;
  padding: 5px;
}

.item {
  width: 30%;
  flex-direction: column;
  justify-content: center;
}

.merchant {
  width: 98%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.merchant button {
  cursor: pointer;
}

.view-items-button {
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.merchant-name {
  padding-left: 10px;
  margin: 0px;
}

.display-options {
  display: flex;
  align-items: center;
}

.display-options > button {
  margin-left: 15px;
  cursor: pointer;
}

.merchant-name-in-item {
  display: inline;
}

.success {
  color: #486F73;
}

.fail {
  color: #223740;
}

.add-new-button,
.view-merchant-items,
.edit-merchant,
.delete-merchant,
.submit-merchant-edits,
.discard-merchant-edits {
  border-radius: 10px;
  background-color: #fffcfa;
  color: #40223a;
}

#submit-merchant {
  cursor: pointer;
  background-color: #fffcfa;
  color: #402236;
}

/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 
